.skills {
  margin-bottom: 110px;
}

.skills__title {
  color: $black;
  font-family: $font-bold, sans-serif;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-top: 91px;
  margin-bottom: 69px;
}
.skills__subtitle {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 84px;
}

.skills__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 90px;
}

.skills__grid-item {
  position: relative;
  width: 167px;
 
  margin: 0 auto;
}

.item-img {
  text-align: center;
}

.item-title {
  text-align: center;
  font-family: $font-bold, sans-serif;
  color: $gray;
  font-size: 14px;
  line-height: 17px;
  margin: 19px 0 42px 0;
}

.item-stars {
  position: absolute;
  
  bottom: 0;
}

@media screen and (max-width: 1010px) {
  .skills__grid {
    grid-template-columns: 1fr 1fr;
  }

  .item-stars {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 501px) {
  .skills {
    margin-bottom: 60px;
  }

  .skills__title {
    // margin-top: 91px;
    // margin-bottom: 69px;

    margin-top: 60px;
    margin-bottom: 40px;
  }
  
  .skills__grid {
    grid-template-columns: 1fr;
  }

}